<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <style>
    #menu {
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;}
  </style> -->
</head>

<body>
  <div>
    <div style="background-image: url(header-bg.jpg);background-size:100% 100%;height:100%;">
      <div>
        <img src="logo.png" alt="" style="padding: 30px 40px;">
        <img id="menu" src="menu.jpg" alt="" height="100px" style="float: right;padding: 20;">
      </div>
    
      <div style="padding-top:20%;">
        <center><h1 style="font-family:'Oswald',sans-serif;line-height: 1.1;font-size: 70px;font-weight:700;color:white">MINIMAL THEME</h1></center>
      </div>
      <div>
        <center><i><h4 style="font-family:'EB Garamond',serif;font-size:28px;color:white">Hello, I'm Carlos. I love design.</h4></i>  </center>
      </div>
    </div>
  </div>

  <div style="background-color: #1a1a1a;">
    <center><h1 style="font-family:'Oswald',sans-serif;line-height: 1.1;font-size: 30px;font-weight:700;color:white">ABOUT ME</h1>
    
  

      <div style="font-size: 20px;color: white;line-height: 28px;font-family: 'EB Garamond',serif;font-weight: 300;">

      <p >A full time theme crafter based in Madrid, Spain. I love designing beautiful, clean and user-friendly interfaces for websites. <br>

     <br>
My passion is turning good ideas and products into eye-catching sites. <br> <br>

Sometimes I blog about design and web trends. Also I share links and my thoughts on <br> Twitter. Need a free handsome bootstrap theme?  Done! <br> <br>

I'm available for freelance jobs. Contact me now.
      </p> </div>
    <br>
    <button type="button" class="btn btn-warning" style="color: white;">I HAVE A FREELANCE JOB</button>
  </center>  
<br><br><br><br><br>
<div id="some project">
  <center><h1 style="font-family:'Oswald',sans-serif;line-height: 1.1;font-size: 30px;font-weight:700;color:white">SOME PROJECTS</h1>
   <br><br>
      <div>
        <img src="c2.png" alt="">
      </div>
     


</div>
<br><br><br><br>
<div id="contacts">
  <center><h1 style="font-family:'Oswald',sans-serif;line-height: 1.1;font-size: 30px;font-weight:700;color:white">CONTACT</h1>
 
    <p style="font-family: 'EB Garamond', serif;font-weight: 300; font-size: 20px;line-height: 28px;color:white;">Some Avenue, 987 <br> Madrid, Spain <br> +34 8984-4343 <br><br> iam@awesomemail.com</p>
  
    <form action="">
      <label for="">Your Name</label><br>
      <input type="text" placeholder="Your Name" size="55"><br>
      <label for="">Your Email</label><br>
      <input type="text" placeholder="Your Email" size="55"><br>

      <label for="">Subject</label><br>
      <input type="text" placeholder="Subject" size="55"><br>
      <label for="">Your Message</label><br>
      <input type="textarea" placeholder="Your Message" size="55"><br><br>
      
      <button type="button" class="btn btn-warning" style="color: white;">Send Message</button>

    </form>
  </center>

</div>
  

</div>
  
</body>
</html>